

footer {
    background-color: #000;
    color: #e0e0e0;
    text-align: center;
    padding: 20px 0;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    border-top: 1px solid #333;
    margin-top: 15px;
  }
  